# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Виртуальное окружение ---
venv/
.env/
env/
.venv/

# --- Логи ---
*.log

# --- Сборка PyInstaller ---
build/
dist/
*.spec

# --- Кэш и временные файлы ---
*.tmp
*.temp
*.bak
.DS_Store
Thumbs.db

# --- IDE/редактор ---
.vscode/
.idea/

# --- Windows специфические ---
*.exe
